---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';

function getAge(dateString: string) {
    var today = new Date();
    var birthDate = new Date(dateString);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
        age--;
    }
    
    return age;
}

const age = getAge("10/28/1988");

const education = [
    {
        title: "System analytis and development",
        intitution: "Vianna Júnior",
        period: "2016 - 2018",
        description: "The Internet Systems course at Faculdades Integradas Vianna Júnior offers all the qualities needed to train professionals capable of standing out in the market. Students will be equipped to create new platforms and applications for smartphones and tablets, as well as to manage and maintain networks, servers, websites, and databases, supported by a virtual library with over 5,000 digitized titles."
    }
]

const certificates = [
    {
        title: "Building a Reminders App Clone with SwiftUI & Core Data",
        url: "https://www.udemy.com/certificate/UC-883808bb-a2a9-49a3-bff4-987b78d6f063"
    },
    {
        title: "MV Design Pattern in iOS - Build SwiftUI Apps Apple's Way",
        url: "https://www.udemy.com/certificate/UC-2d801ec5-4f59-484c-9956-26aef88d1940"
    },
    {
        title: "MVVM Design Pattern Using Swift",
        url: "https://www.udemy.com/certificate/UC-3fe6e172-7b07-481e-98ef-5362d05886cc"
    },
    {
        title: "The Complete React Native + Hooks Course [2020 Edition]",
        url: "https://www.udemy.com/certificate/UC-d39e7010-e6d8-4694-b2ca-d2ade49a00f2"
    },
    {
        title: "Agile Management With Scrum",
        url: "https://www.udemy.com/certificate/UC-SAH7BYIK/"
    }
]

const projects = [
    {
        title: "CleanerXcode",
        url: "https://github.com/didisouzacosta/CleanerXcode",
        description: "CleanerXcode is a macOS tool designed to remove unnecessary Xcode files, such as Derived Data, build caches, device support files and simulator data."
    },
    {
        title: "Formidable",
        url: "https://github.com/didisouzacosta/Formidable",
        description: "The Formidable protocol is designed for objects that manage forms composed of multiple FormField components. By conforming to this protocol, you can leverage built-in functionality to validate, reset, and check the validity of all form fields at once."
    },
    {
        title: "Uncompress",
        url: "https://github.com/didisouzacosta/uncompress-react-native",
        description: "Simple library to decompress files .zip, .rar, .cbz, .cbr in React Native."
    }
]

const works = [
    {
        title: "iOS Developer",
        company: "ProDoctor",
        period: "Augost 2021 - Present",
        locale: "Remote",
        description: "Developing native health apps for iOS using Swift and Objective-C, with a focus on user experience, design, and best development practices. Implementing CI/CD pipelines and publishing on the Apple Store.",
        skills: "Swift, Objective-C, StoryBoards, CI/CD, Design"
    },
    {
        title: "iOS Instructor Assistent",
        company: "Digital House Brazil",
        period: "August 2021 - August 2022",
        locale: "Remote",
        description: "Support and co-host on the iOS classes.",
        skills: "Swift, StoryBoards, CI/CD, Apple Store"
    },
    {
        title: "iOS Specialist",
        company: "Wiser Educação",
        period: "March 2021 - August 2021",
        locale: "Remote",
        description: "iOS development in the educational software sector, with a focus on user experience, design, and software quality through best development practices, automated testing, and continuous integration. Creation of optimized components for React Native.",
        skills: "Swift, CI/CD, React Native, Apple Store, Android"
    },
    {
        title: "iOS Developer",
        company: "Consulta Remédios",
        period: "April 2019 - March 2021",
        locale: "Remote",
        description: "iOS development for a health marketplace, with a focus on user experience, design, and software quality through best development practices, automated testing, and continuous integration.",
        skills: "Swift, CI/CD, React Native, Apple Store, Design"
    },
    {
        title: "iOS Developer",
        company: "ProDoctor",
        period: "Augost 2016 - April 2019",
        locale: "Remote",
        description: "Developing native health apps for iOS using Swift and Objective-C, with a focus on user experience, design, and best development practices. Implementing CI/CD pipelines and publishing on the Apple Store.",
        skills: "Swift, Objective-C, StoryBoards, CI/CD, Design"
    },
    {
        title: "iOS Developer",
        company: "Handcom",
        period: "April 2015 - July 2016",
        locale: "OnSite",
        description: "Developing native health apps for iOS using Swift and Objective-C with a focus on user experience, design, and best development practices.",
        skills: "Swift, Objective-C, StoryBoards, CI/CD, Design"
    },
    {
        title: "Developer",
        company: "Appta",
        period: "Octuber 2013 - April 2015",
        locale: "OnSite",
        description: "Front-end development for iOS/Android and back-end development for various sectors and markets, with a focus on user experience, design, and software quality through best development practices. Responsible for team management and organization.",
        skills: "Swift, Objective-C, StoryBoards, CI/CD, Design, Android and DevOps"
    },
    {
        title: "Junior Software Developer",
        company: "Brazip",
        period: "November 2012 - November 2013",
        locale: "OnSite",
        description: "iOS/Android/Flex development focused on support and chat applications, always prioritizing user experience, design, and software quality through best development practices.",
        skills: "Objective-C, StoryBoards, Design, Android"
    },
    {
        title: "Design / Fullstack Developer",
        company: "Trópico Propaganda",
        period: "Octuber 2008 - Octuber 2012",
        locale: "OnSite",
        description: "Designer and Flash developer.",
        skills: "Flash, HTML, CSS, PHP, MySQL, Corel Draw, Photoshop, Design"
    }
]
---

<Layout title="Adriano Souza Costa - Resume"  description="iOS/macOS Developer with over 10 years of experience, specialized in Swift, SwiftUI, and UIKit. Focused on performance, user experience, and clean architecture. Strong background in REST APIs, iCloud, and Apple technologies.">
    <a href="/resume.pdf" download class="download-button">Download in PDF</a>

	<div id="container">
        <main>
            <section class="me">
                <Image src="https://avatars.githubusercontent.com/u/11352503?v=4" alt="Adriano Souza Costa" width="120" height="120" loading="eager" priority={true} class="avatar"/>
                
                <h1 class="name black">
                    Adriano Souza Costa
                </h1>

                <p>
                    <strong class="black">Open to:</strong> Remote
                </p>

                <p>
                    <strong class="black">Age:</strong> {age} years old
                </p>

                <p>
                    <strong class="black">Living in:</strong> Bicas • Minas Gerais • Brazil
                </p>

                <p>
                    <strong class="black">Phone:</strong> <a href="tel:+5532991147881">(+55) 32 99114.7881</a>
                </p>

                <p>
                    <strong class="black">Mail:</strong> <a href="mailTo:adrianosouzacostaios@gmail.com">adrianosouzacostaios@gmail.com</a>
                </p>

                <p>
                    <strong class="black">Linkedin:</strong> <a href="https://www.linkedin.com/in/adrianosouzacosta">linkedin.com/in/adrianosouzacosta</a>
                </p>

                <p>
                    <strong class="black">Github:</strong> <a href="https://github.com/didisouzacosta">github.com/didisouzacosta</a>
                </p>
                
                <p>
                    <strong class="black">Website:</strong> <a href="https://adrianosouzacosta.com.br">adrianosouzacosta.com.br</a>
                </p>
            </section>

            <section>
                <h3 class="black">Professional summary</h3>
                <p>
                    iOS / macOS Developer with 10+ years of experience in Swift, SwiftUI, Objective-C and UIKit, working on the development of scalable apps with a strong focus on UX, performance, and clean architecture. Solid expertise in integrating REST APIs, iCloud, and Apple technologies. Seeking new challenges in impactful projects.
                </p>

            </section>

            <section>
                <h3 class="black">Skills</h3>

                <ul>
                    <li><strong class="black">Languages:</strong> Swift, Objective-C and React Native.</li>
                    <li><strong class="black">Frameworks:</strong> SwiftUI, SwiftData, CoreData, Combine, DeviceActivity, ManagedSettings, Foundation and AudioKit.</li>
                    <li><strong class="black">Tools:</strong> Xcode, Git, Fastlane, Firebase, Github Actions and Travis.</li>
                    <li><strong class="black">Architectures:</strong> MV,  MVC,  MVP, MVVM, MVVMC and Clean Architecture.</li>
                    <li><strong class="black">Other:</strong> Unit tests, CI/CD, Apple Store Connect, Distribute apps out of Apple Store.</li>
                </ul>
            </section>

            <section>
                <h3 class="black">Work experience</h3>

                <ul class="list">
                    {
                        works.map((work) => {
                            return <li>
                                <h4 class="black">
                                    {work.title}<br/>
                                    <span class="subtitle">{work.company} • {work.period}</span><br/>
                                </h4>

                                <p>
                                    {work.description}
                                </p>

                                <p>
                                    <strong class="black">Skills:</strong> {work.skills}
                                </p>
                            </li>
                        })
                    }
                </ul>
            </section>

            <section>
                <h3 class="black">Education</h3>

                <ul class="list">
                    {
                        education.map((education) => {
                            return <li>
                                <h4 class="black">
                                    {education.title}<br/>
                                    <span class="subtitle">{education.intitution} • {education.period}</span><br/>
                                </h4>

                                <p>
                                    {education.description}
                                </p>
                            </li>
                        })
                    }
                </ul>
            </section>

            <section>
                <h3 class="black">Licenses & Certificates</h3>

                <ul class="list">
                    {
                        certificates.map((certificate) => {
                            return <li>
                                <h4 class="black">
                                    <a href={certificate.url} aria-label={certificate.title} target="_blank">
                                        {certificate.title}
                                    </a>
                                </h4>
                            </li>
                        })
                    }
                </ul>
            </section>

            <section id="projects">
                <h3 class="black">Projects</h3>

                <ul class="list">
                    {
                        projects.map((project) => {
                            return <li>
                                <h4 class="black">
                                    <a href={project.url} aria-label={project.title} target="_blank">
                                        {project.title}
                                    </a>
                                </h4>

                                <p>
                                    {project.description}
                                </p>
                            </li>
                        })
                    }
                </ul>
            </section>

            <section>
                <h3 class="black">Languages</h3>

                <ul>
                    <li><strong class="black">English:</strong> Intermediate (A2).</li>
                    <li><strong class="black">Portuguese:</strong> Native.</li>
                </ul>
            </section>
        </main>
    </div>
    
    <style>
        h1 {
            font-size: 32px;
        }

        h3 {
            font-size: 22px;
        }

        section {
            margin-bottom: 48px;
        }

        section.me p {
            margin: 0px;
            padding: 0px;
            margin-bottom: 4px;
        }

        section.me h1 {
            margin-bottom: 22px;
        }

        img.avatar {
            border-radius: 50%;
        }

        a.download-button {
            position: fixed;
            left: 50%;
            bottom: 0px;
            transform: translate(-50%, -50%);
            padding: 8px 16px 8px 16px;
            margin: 16px;
            background-color: orange;
            color: black;
            border-radius: 32px;
        }
    
        #container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-height: 100vh;
            align-items: center;
            padding-bottom: 32px;
        }

        .list h4 {
            margin: 0px;
            padding: 0px;
            font-size: 18px;
        }

        .list h4 .subtitle {
            font-weight: 400;
            font-size: 80%;
        }

        .list li {
            margin: 0px 0px 16px 0px;
        }

        .list li:last-child {
            margin: 0px;
        }

        .list li p {
            margin: 8px 0px 0px 0px;
            padding: 0px;
        }
    }
    </style>
</Layout>